extends layouts/main.pug 
block content
  div(class="row" id="productsContainer")
    
      

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js")
  script(src="/js/app.js")