extends ../layouts/main.pug

block content
  div(class="row")
    div(class="col-4 offset-4")
      div(class="card")
        div(class="card-body")
          h1(class="card-title") Registrarse
          form(id="signupForm" method="post" action="/signup" enctype="multipart/form-data")
            div(class="mb-3")
              label(class="form-label") Nombre 
              input(type="text" class="form-control" name="firstname")
            div(class="mb-3")
              label(class="form-label") Apellido 
              input(type="text" class="form-control" name="lastname")
            div(class="mb-3")
              label(class="form-label") Edad 
              input(type="number" class="form-control" name="age")
            div(class="mb-3")
              label(class="form-label") Dirección 
              input(type="text" class="form-control" name="address")
            div(class="mb-3")
              label(class="form-label") Avatar
              input(type="file" class="form-control" name="avatar")
            div(class="mb-3")
              label(class="form-label") Teléfono
              input(type="text" class="form-control" name="cellphone")
            div(class="mb-3")
              label(class="form-label") Correo electrónico
              input(type="email" class="form-control" name="email")
            div(class="mb-3")
              label(class="form-label") Contraseña
              input(type="password" class="form-control" name="password")
            div(class="d-flex justify-content-between")
              button(type="submit" class="btn btn-primary") Registrarme
              a(href="/login" class="btn") Ingresar

